* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-image: url(../img/bodyMass.jpg);
    background-size: cover;
    box-sizing: content-box;
}


/* header formatting start */

header h1 {
    background-color: black;
    color: rgb(249, 170, 26);
    text-align: center;
    padding: 10px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(249, 170, 26);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    border-radius: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgb(241, 227, 76);
}

.thirdPage {
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgb(241, 227, 76);
}

.logIn {
    margin-right: 110px;
}


/* header formatting end */

main {
    height: auto;
    width: 100%;
    padding-top: 130px;
    box-sizing: border-box;
}

section label {
    font-size: 40px;
    background-color: rgb(66, 64, 64);
    border: 1px solid rgb(241, 227, 76);
    color: black;
    text-shadow: 1px 1px 2px rgb(181, 178, 178);
    font-weight: bold;
    padding-right: 100px;
    display: inline-block;
    width: 100%;
}

section label:hover {
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgb(241, 227, 76);
}

label {
    position: relative;
}

img {
    position: absolute;
    right: 370px;
    bottom: 10px;
}


/* to hide content */

.article1 {
    display: none;
}


/* Shows content when hidden checkbox is selected */

#toggle1:checked~.article1 {
    display: block;
}

#toggle1:checked~.img1 {
    color: green;
}


/* to hide content */

.article2 {
    display: none;
}


/* Shows content when hidden checkbox is selected */

#toggle2:checked~.article2 {
    display: block;
}

span {
    font-size: 30px;
    color: aqua;
    padding-right: 120px;
}

pre {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(249, 170, 26);
    font-size: 25px;
    padding-right: 150px;
    padding-bottom: 20px;
}