* {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url(../img/bodyMass.jpg);
    background-size: cover;
}


/* header formatting start */

header h1 {
    background-color: black;
    color: rgb(249, 170, 26);
    text-align: center;
    padding: 10px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(249, 170, 26);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    border-radius: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgb(241, 227, 76);
}

.logIn {
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgb(241, 227, 76);
}

.logIn {
    margin-right: 110px;
    background-color: gray;
}


/* header formatting end */

main {
    height: auto;
    width: 100%;
    padding-top: 120px;
}

main h1 {
    display: inline-block;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    margin-right: 42%;
    margin-bottom: 25px;
    border-bottom: 5px solid rgb(249, 170, 26);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;
    background-color: black;
    color: white;
}

main div {
    margin-right: 31%;
}

p,
span {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    padding-right: 20px;
    text-shadow: 2px 2px 2px black;
}

span a {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 20px;
}

input,
button {
    margin-bottom: 30px;
    height: 40px;
    width: 500px;
    border-radius: 15px;
    font-size: 25px;
}

input:focus {
    box-shadow: 1px 1px 10px rgb(249, 170, 26);
}

button {
    height: 45px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(237, 223, 121);
}

button:hover {
    box-shadow: 1px 1px 10px rgb(249, 170, 26);
}

button:active {
    background-color: gray;
}